.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  width: 95%;
}

.app__formInput {
  flex: 1;
}

.app__formButton {
  flex: 0;
}
